version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  broker:
    image: confluentinc/cp-kafka:7.6.0
    hostname: broker
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  producer:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["python", "-m", "producer.binance_producer"]
    env_file: .env
    depends_on:
      - broker

  consumer:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["python", "-m", "consumer.prices_consumer"]
    env_file: .env
    depends_on:
      - broker
      - postgres

  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["uvicorn", "api.main:app", "--host", "0.0.0.0", "--port", "8000"]
    env_file: .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"

volumes:
  pgdata:
